<html>    
    <head>    
        <title>{{t}}</title>    
        <!-- href="/static/assets/style.css"-->    
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >    
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/emoji.css')}}" >    
        <script src="{{ url_for('static',filename='assets/twemoji.min.js')}}"></script>      
        <script src="{{ url_for('static',filename='assets/emoji.js')}}"></script>    
    </head>    
<body>    
    <h1>{{ h }}</h1>    
    <ul>    
        <li><a href="/list" class="{{ a1 }}">ALL</a></li>    
        <li><a href="/dbrecord" class="{{ a3 }}">DATE RECORDS</a></li>    
        
    </ul>    
    <hr>    
    

    <table>    
        <tr id="row">    

            <th class="MACHINE">MACHINE</th>    
	    <th class="STATUS">STATUS</th>   
	    <th class="MACHINE TYPE">MACHINE TYPE</th>     
            
        </tr>    
    {% for todo in todos %}    
        <tr class="datas">    

            <td class="MACHINE">{{ todo["MACHINE"] }}</td>    
            <td class="STATUS">{{ todo["STATUS"] }}</td>    
            <td class="MACHINE TYPE">{{ todo["MACHINE TYPE"] }}</td>    

            
        </tr>    
    {% endfor %}    
    </table>    
        
    
    <table class="none">    
       
        
    </form>    
    </table>    
    <script>    
        
    </script>    
</body>    
</html>   
